@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .border-border {
        border-color: var(--border);
    }
}

@layer base {
    :root {
        --background: #050505;
        --primary: #525252;
        --text-color: #ffffff;
        --selection-color: rgb(0, 0, 0);
        --selection-background: rgb(255, 239, 92);
    }

    *,
    ::before,
    ::after {
        @apply border-border;
    }

    html,
    body {
        @apply w-full h-full;
        background-color: var(--background);
        color: var(--text-color);
    }

    /* 选中文本样式 */
    ::selection,
    strong::selection,
    .search-result__item em {
        color: var(--selection-color);
        background: var(--selection-background);
        -webkit-text-fill-color: unset;
        background-image: none;
    }

    /* 修复首页 NickName 复制颜色失效问题 */
    /* Tips: 原因是 strong 标签内使用了 WebkitTextFillColor 属性，这个属性覆盖了 ::selection 伪元素定义的颜色 */
    .custom-strong::selection {
        background-image: none !important;
        color: var(--selection-color) !important;
        background: var(--selection-background) !important;
        -webkit-text-fill-color: rgb(0, 0, 0) !important;
    }
    /* 搜索结果 */
    .search-result__item em {
        @apply mx-1 font-normal not-italic;
    }
}
