@tailwind base;
@tailwind components;
@tailwind utilities;

@import "bytemd/dist/index.css";
/* @import "./bytemd.css"; */
/* @import "./github.css"; */
/* @import "./github-dark.css"; */

@layer components {
    .border-border {
        border-color: var(--border);
    }
}

@layer base {
    :root {
        --background: #08080a;
        --foreground: #ffffff;
        --card: #08080a;
        --card-foreground: #ffffff;
        --popover: #08080a;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #090909;
        --secondary: #232329;
        --secondary-foreground: #ffffff;
        --muted: #232329;
        --muted-foreground: #a1a1c3;
        --accent: #232329;
        --accent-foreground: #ffffff;
        --destructive: #d63030;
        --destructive-foreground: #ffffff;
        --border: #232329;
        --input: #232329;
        --ring: #d1d1ff;
        --selection-color: rgb(0, 0, 0);
        --selection-background: rgb(255, 239, 92);
    }

    *,
    ::before,
    ::after {
        @apply border-border;
    }

    html,
    body {
        @apply w-full h-full antialiased;
        background-color: var(--background);
        color: var(--foreground);
    }
}
/* 选中文本样式 */
::selection,
strong::selection,
.search-result__item em {
    color: var(--selection-color);
    background: var(--selection-background);
    -webkit-text-fill-color: unset;
    background-image: none;
}

/* 修复首页 NickName 复制颜色失效问题 */
/* Tips: 原因是 strong 标签内使用了 WebkitTextFillColor 属性，这个属性覆盖了 ::selection 伪元素定义的颜色 */
.custom-strong::selection {
    background-image: none !important;
    color: var(--selection-color) !important;
    background: var(--selection-background) !important;
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
}
/* 搜索结果 */
.search-result__item em {
    @apply mx-1 font-normal not-italic;
}
